/* ------------------------------------------------------------------------------ */
/* BASE */
/* ------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #fff;
    --negro: #1a1a1a;
    --gris: #222;

    --main: #0184DC;
    --second: #071528;
    --disable: #666666;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 4000px;    
}




h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

p, a, span, i, li, input, button, label {
    font-family: "Open Sans", sans-serif;
}

h1{
    font-size: 3.2em;
}
p{
    font-size: 1.2em;
}

span{
    color: var(--main);
}



header{
    width: 100%;
    height: 100px;
    background-color: var(--blanco);
    position: fixed;
}

.navbar{
    display: flex;
    max-width: 70vw;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    align-items: center;
    gap: 3em;

}
.links{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

li{
    text-decoration: none;
    list-style: none;
    position: relative;
}

a{
    text-decoration: none;
    color: var(--negro);

    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 600;

}

.logo{
    width: 100px;
}

.logo img{
    width: 100%;
}

.btn-nav{
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
}

.btn-nav i{
    margin-right: 8px;
}

.navbar .actions button{
    font-family: "Poppins", sans-serif;
    font-weight: regular;
}

.navbar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--negro);
    transition: 0.3s ease width;
}
.navbar li:hover::after {
    width: 100%;
}

.navbar .actions{
    display: flex;
    gap: 1em;
}



.navbar .actions button{
    font-size: 1em;
    transition: 0.3s ease box-shadow;
}

.navbar .actions button:hover{
    box-shadow: 5px 5px 15px #0184DC;
}

.btn-main {
    background-color: var(--main);
    color: var(--blanco);
}

.btn-second{
    background-color: var(--blanco);
    border: 2px solid var(--negro);
}



@media screen and (max-width: 1024px) {
    .navbar .content{
        flex-direction: column;
    }



}