/*//////////////////////////////////////////////////
//BASE
//////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* TIPOGRAFÍAS */
    --titulos: "Poppins", sans-serif;
    --textos: "Open Sans", sans-serif;
    
    /* COLORES */
    --main: #0184DC;
    --second: #071528;

    --blanco: #fff;
    --negro: #1a1a1a;
    --gris: #222;

    --disable: #666666;
    --error: #FF4444;

    /* RADIO */
    --radio: 15px;

    /* SOMBRAS */
    --sombra: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    /* height: 4000px;     */
}

main{
    /* Espacio del header */
    padding-top: 100px; 
}

/*//////////////////////////////////////////////////
//COMPONENTES
//////////////////////////////////////////////////*/

/* TÍTULOS */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--titulos);
    font-weight: bold;
    color: var(--negro);
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2.25em;
}

/* TEXTOS */
p, a, span, i, li, input, button, label {
    font-family: var(--textos);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: var(--negro);
}
a{
    position: relative;
    transition: color ease 0.3s;
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s ease width;
}
a:hover::after {
    width: 100%;
}

/* BOTONES */
.btn{
    padding: 0.5em 1em;
    border-radius: var(--radio);
    border: none;
    font-size: 1em;
    transition: transform ease 0.2s;
}
.btn-main {
    background-color: var(--main);
    color: var(--blanco);
}
.btn-second{
    background-color: var(--blanco);
    border: 2px solid var(--negro);
}
.btn:hover{
    transform: scale(0.95);
}

/* ICONOS */
i{
    color: inherit;
    margin-right: 8px;
    font-size: 1em;
}


/*//////////////////////////////////////////////////
//HEADER
//////////////////////////////////////////////////*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: var(--blanco);
    box-shadow: var(--sombra);
    z-index: 100;
    transition: top 0.3s ease-in-out;
}
header .navbar{
    display: flex;
    max-width: 70vw;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .content{
    display: flex;
    align-items: center;
    gap: 3em;

}

/* ENLACES */
header .links{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
header a{
    font-family: var(--titulos);
    font-size: 1em;
    font-weight: 600;

}

/* LOGO */
header .logo{
    width: 100px;
}
header .logo img{
    width: 100%;
}

/* BOTONES */
header .navbar .actions{
    display: flex;
    gap: 1em;
}

header .navbar .actions button{
    width: 135px;
    font-family: var(--titulos);
    transition: 0.3s ease box-shadow;

}
header .navbar .actions button:hover{
    box-shadow: 5px 5px 15px #0184DC;
}

/* BOTONES RESPONSIVE */
.open-menu, .close-menu {
    display: none;
}




/*//////////////////////////////////////////////////
//SECCIONES
//////////////////////////////////////////////////*/
section{
    margin: 0 auto;      
    padding: 64px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70vw;
    height: fit-content;
    /* background-color: red; */
    /* border: 1px solid black; */
}

section .title{
    width: 100%;
    text-align: center;
    /* background-color: green; */

}
section .content{
    width: 100%;
    /* background-color: blue; */
}


/*//////////////////////////////////////////////////
//FORMULARIOS 
//////////////////////////////////////////////////*/
form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 35vw;
}

/* ENTRADA */
form .field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.field input, .field .btn{
    width: 100%;
    
    border: none;
    padding: 1em;
    border-radius: var(--radio);
    box-shadow: var(--sombra);
}


/* ELEMENTOS EN LINEA */
.field .inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.field .question{
    color: var(--disable);
    font-size: 14px;
}

/* CHECKBOX */
.field .checkbox{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.field .checkbox input{
    display: none;
}
.field .checkbox span {
    display: inline-block;
    position: relative;

    height: 20px;
    width: 20px;

    margin-left: 8px;

    background-color: none;
    border-radius: 50%;
    border: 2px solid var(--second);

    cursor: pointer;
}
.field .checkbox span::after {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;

    transform: translate(0.1em, 0.1em);
    background-color: var(--second);
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.2s;
}
.checkbox-custom input:checked ~ span:after{
    opacity: 1;
}

/* SEPARADOR */
.field .separador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 2em 0;
}
.field .separador::before,
.field .separador::after{
    content: "";
    width: 45%;
    height: 2px;
    transform: translateY(0.5em);
    background-color: var(--negro);
}
.field .inline>button{
    width: 49%;
}
.field > p:first-child a {
    padding-left: 8px;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px; 
}
.field > p:first-child a::after{
    width: 0;
}
.field > p:first-child a:hover{
    color: var(--main);
}


/* PROCESO */
.barra-proceso{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}
.barra-proceso h4{
    background-color: var(--blanco);
    color: var(--second);
    border: 2px solid var(--second);
    padding: 1em 1.5em;
    border-radius: 50%;
}
.barra-proceso span{
    content: "";
    border: 2px dashed var(--second);
    width: 20%;
    height: 2px;
    margin: 1em;
}
.barra-proceso .done,
.barra-proceso .actual{
    background-color: var(--second);
    color: var(--blanco);
}
.barra-proceso .done::before{
    content: "✔";
    position: absolute;
    left: 1.25em;
    color: var(--blanco);
}
.barra-proceso .done{
    content: none;
    position: relative;
    color: transparent;
}
h4.done + span{
    border: 2px solid var(--second);
} 
h4.done ~ h4:first-of-type{
    background-color: var(--second);
    color: var(--blanco);
}

/* MOSTRAR CONTRASEÑA */
.field .inputPassword{
    display: flex;
    align-items: center;
    position: relative;
}
.field .inputPassword i{
    position: absolute;
    right: 1em;
}
.field .inputPassword i:nth-of-type(2){
    display: none;
}

/* CAMPOS ADICIONALES */
.field .campo-adicional{
    display: none;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-left: 2px solid var(--disable);
}

/* MENSAJE ERROR */
.field .error{
    display: none;
    color: var(--error);
}









/*/////////////////////////////////////////////////////////////////////////////////////////////////
//RESPONSIVE MÓVIL
/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1024px) {

    /* HEADER */
    header{
        height: 80px;
    }
    header .navbar{
        max-width: 85vw;
        width: 100%;
    }
    .navbar .content{
        position: absolute;
        top: 0;
        right: -500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 75vw;
        width: 100%;
        height: 100vh;
        padding: 4em;
        box-shadow: var(--sombra);
        background-color: var(--blanco);
        transition: right 0.2s ease-in-out;
    }
    .navbar .content .links, .actions{
        flex-direction: column;

    }
    span i{
        font-size: 1em;
        color: var(--negro);
    }
    .open-menu, .close-menu {
        z-index: 100;
        display: block;
    }
    .close-menu{
        display: none;
    }
    .actions{
        width: 100%;
    }



}