/* ------------------------------------------------------------------------------ */
/* BASE */
/* ------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #fff;
    --negro: #1a1a1a;
    --gris: #222;

    --main: #0184DC;
    --second: #071528;
    --disable: #666666;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 4000px;    
    background-color: #0184DC;
}




h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

p, a, span, i, li, input, button, label {
    font-family: "Open Sans", sans-serif;
}

h1{
    font-size: 3.2em;
}
p{
    font-size: 1.2em;
}

span{
    color: var(--main);
}



header{
    width: 100%;
    max-height: 100px;
    background-color: var(--blanco);
    position: fixed;
}

header .navbar{
    display: flex;
    max-width: 70vw;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .content{
    display: flex;
    align-items: center;
    gap: 3em;

}
header .links{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

header li{
    text-decoration: none;
    list-style: none;
    position: relative;
}

header a{
    text-decoration: none;
    color: var(--negro);

    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 600;

}

header .logo{
    width: 100px;
}

header .logo img{
    width: 100%;
}

header .btn-nav{
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
}

header .btn-nav i{
    margin-right: 8px;
}

header .navbar .actions button{
    font-family: "Poppins", sans-serif;
    font-weight: regular;
}

header .navbar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--negro);
    transition: 0.3s ease width;
}
header .navbar li:hover::after {
    width: 100%;
}

header .navbar .actions{
    display: flex;
    gap: 1em;
}



header .navbar .actions button{
    width: 135px;
    font-size: 1em;
    transition: 0.3s ease box-shadow;
}

header .navbar .actions button:hover{
    box-shadow: 5px 5px 15px #0184DC;
}

header .btn-main {
    background-color: var(--main);
    color: var(--blanco);
}

header .btn-second{
    background-color: var(--blanco);
    border: 2px solid var(--negro);
}

.open-menu, .close-menu {
    display: none;
}


section{
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 600px;
    background-color: red;
}

section .title{
    width: 100%;
    text-align: center;
    background-color: green;

}
section .content{
    width: 100%;
    background-color: blue;
}




@media screen and (max-width: 1024px) {
    header .navbar{
        max-width: 85vw;
        width: 100%;
    }


    .navbar .content{
        position: absolute;
        top: 0;
        right: -500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 75vw;
        width: 100%;
        height: 100vh;
        padding: 4em;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        background-color: var(--blanco);
        transition: right 0.2s ease-in-out;
    }
    .navbar .content .links, .actions{
        flex-direction: column;

    }

    span i{
        font-size: 1em;
        color: var(--negro);
    }

    .open-menu, .close-menu {
        z-index: 100;
        display: block;
    }

    .close-menu{
        display: none;
    }

    .actions{
        width: 100%;
    }



}