/*//////////////////////////////////////////////////
//BASE
//////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* TIPOGRAFÍAS */
    --titulos: "Poppins", sans-serif;
    --textos: "Open Sans", sans-serif;
    
    /* COLORES */
    --main: #0184DC;
    --second: #071528;

    --blanco: #fff;
    --negro: #1a1a1a;
    --gris: #222;

    --disable: #666666;
    --error: #FF4444;

    /* RADIO */
    --radio: 15px;

    /* SOMBRAS */
    --sombra: 5px 5px 20px rgba(0, 0, 0, 0.2);

    /* ANCHO WEB */
    --ancho: 1440px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    /* height: 4000px;     */
}

main{
    /* Espacio del header */
    padding-top: 100px; 
}

/*//////////////////////////////////////////////////
//COMPONENTES
//////////////////////////////////////////////////*/

/* ======= TITULOS ======= */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--titulos);
    font-weight: bold;
    color: var(--negro);
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2.25em;
}
h4{
    font-size: 2em;
}
h5{
    font-size: 1.75em;
}
h6{
    font-size: 1.25em;
}

/* ======= TEXTOS ======= */
p, a, b, span, pre, sub, i, li, input, textarea, select, button, label, div {
    font-family: var(--textos);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    color: var(--negro);
}
a{
    position: relative;
    transition: color ease 0.3s;
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s ease width;
}
a:hover::after {
    width: 100%;
}

/* ======= BOTONES ======= */
.btn{
    width: 100%;
    padding: 1em;
    border-radius: var(--radio);
    border: none;
    font-size: 1em;
    transition: all ease-in-out 0.2s;
}
.btn-main {
    background-color: var(--main);
    color: var(--blanco);
}
.btn-submain{
    background-color: var(--second);
    color: var(--blanco);
}
.btn-second{
    background-color: var(--blanco);
    border: 2px solid var(--negro);
}
.btn-third{
    background-color: var(--blanco);
    box-shadow: var(--sombra);
}
.btn:hover{
    transform: scale(0.95);
}
.btn>a{
    color: inherit;
}
.btn>a:hover::after{
    width: 0;
}
a.btn{
    height: auto;
    width: 100%;
    margin: auto;
    text-align: center;
}
a.btn:hover::after{
    width: 0;
}

/* ======= ICONOS ======= */
i{
    color: inherit;
    margin: 0 8px;
    font-size: 1em;
}

/* ======= EN LINEA ======= */
.enLinea{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1em;
}

/* ======= MOSTRAR / OCULTAR ======= */
.hidden{
    display: none;
}


/* ======= TARJETAS ======= */
.tarjeta{
    background-color: var(--blanco);
    padding: 2em;
    border-radius: var(--radio);
    box-shadow: var(--sombra);

    transition: transform 0.3s;
}

.tarjetaHover:hover{
    transform: scale(0.98);
}


/* ======= POPUPS ======= */
.popup-container{
    top:0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    backdrop-filter: blur(10px); 

}
.popup{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    position: relative;
    padding: 4em;
    text-align: center;
}
.popup .close-popup{
    position: absolute;
    width: auto;
    top: 1em;
    right: 1em;
    background-color: transparent;
    padding: 0;
}
.popup .close-popup:hover{
    color: var(--main);
}
.popup input,
.popup select,
.popup textarea{
    width: 100%;
    padding: 1em;
    border-radius: var(--radio);
    border: none;
    box-shadow: var(--sombra);
}
.popup button{
    padding: 1em;
}

.popup .actions{
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
.popup .actions button{
    flex: 1;
}

.popup .contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.popup .divLeft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}



/*//////////////////////////////////////////////////
//SECCIONES
//////////////////////////////////////////////////*/
section{
    margin: 0 auto;      
    padding: 36px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--ancho);
    height: fit-content;
    /* background-color: red; */
    /* border: 1px solid black; */
}

section .title{
    width: 50%;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5em;
    /* background-color: green; */
}
section .title p{
    margin-top: 1em;
}

section .content{
    width: 100%;
    /* background-color: blue; */
}


/*//////////////////////////////////////////////////
//FILAS
//////////////////////////////////////////////////*/
.filas-contenedor{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 2em;
}

.filas-contenedor .fila{
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 2em;

}

.saltoLinea{
    flex-wrap: wrap;
}

/*//////////////////////////////////////////////////
//COLUMNAS
//////////////////////////////////////////////////*/
.columnas-contenedor{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 2em;
}

.columnas-contenedor .columna{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2em;
}


.columna.t4{
    /* min-height: 100%; */
    flex: 0 0 calc(25% - 2em * 3 / 4); /* Ajuste por el gap */
}

.t2{
    flex: 1;
}

.imagenCol{
    flex: 1;
    filter: drop-shadow(var(--sombra));
}
.imagenCol>img{
    width: auto;
    height: 100%;
}




/*//////////////////////////////////////////////////
//HEADER
//////////////////////////////////////////////////*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: var(--blanco);
    box-shadow: var(--sombra);
    z-index: 100;
    transition: top 0.3s ease-in-out;
}
header .navbar{
    display: flex;
    max-width: var(--ancho);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .content{
    display: flex;
    align-items: center;
    gap: 3em;

}

.sinSombra{
    box-shadow: none;
}

/* ENLACES */
header .links{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
header a{
    font-family: var(--titulos);
    font-size: 1em;
    font-weight: 600;

}

/* LOGO */
header .logo{
    width: 100px;
}
header .logo img{
    width: 100%;
}

header .logoHeader::after{
    width: 0;
}

/* BOTONES */
header .navbar .actions{
    display: flex;
    gap: 1em;
}

header .navbar .actions a.btn{
    width: auto;
    padding: 0.75em 1em;
    font-family: var(--titulos);
    transition: 0.3s ease box-shadow;

}
header .navbar .actions a.btn:hover{
    box-shadow: 5px 5px 15px #0184DC;
}

/* BOTONES RESPONSIVE */
.open-menu, .close-menu {
    display: none;
}


/*//////////////////////////////////////////////////
//INDEX
//////////////////////////////////////////////////*/


/* ======= HERO ======= */
#hero{
    width: 100%;
    padding: 0;
    gap: 0;
}

#hero .content{
    flex: 0 0 30%;
    margin-left: 16em;
    /* background-color: red; */
}

#hero .content span{
    font-weight: bold;
    color: var(--main);
}

#hero .imgHero{
    height: 100%;

    mask-image: url('../../../resources/bg/mask.svg'); /* Ruta a la imagen de la máscara */
    mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-image: url('../../../resources/bg/mask.svg'); /* Soporte para navegadores WebKit */
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}

#hero .content h1 span{
    top: 0;
    display: inline-block;
}

#hero .rrss{
    font-size: 1.5em;
    transition: all 0.3s;
}

#hero .rrss i:hover{
    color: var(--main);
}
#hero .rrss a::after{
    width: 0;
}


/* ======= SECTIONS ======= */

#index section{
    height: auto;
    padding: 5em 0;
}

#index #hero{
    padding: 0;
}


#index .imagenRecorte{
    position: relative;
}

#index .imagenRecorte .img01{
    width: auto;
    height: auto;

    mask-image: url('../../../resources/bg/mask3.svg'); 
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('../../../resources/bg/mask3.svg'); 
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}
#index .imagenRecorte .img02{
    position: absolute;
    top: 0;
    left: 0;
    animation: moverBarco 10s ease-in-out infinite;
}


#index .filas-contenedor .fila{
    gap: 1em;
}
#index .filas-contenedor .fila h6{
    width: 100%;
}

@keyframes moverBarco {
    0%, 100% { transform: translate(0, 0) rotate(0deg); }
    50% { transform: translate(50px, -50px) rotate(10deg); }
}

.cta{
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cta a{
    width: 12em;
}

#scrollToTop{
    width: auto;
    position: fixed;
    bottom: 48px;
    right: 48px;
    z-index: 1000;

    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
}

#scrollToTop.show {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.3s ease, visibility 0s 0s; 
}



/* ======= FLIP CARD ======= */

.flipcard{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    position: relative;
}

.flipcard .face{
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.flipcard .front{
    transform: perspective(600px) rotateY(0deg);
}
.flipcard .back{
    
    transform: perspective(600px) rotateY(180deg);
}

.flipcard .front img{
    height: 120px;
}

.flipcard:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.flipcard:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


/* ======= REVIEWS ======= */
.review .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.review .titulo .nombre,
.review .titulo .valoracion{
    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}
.review .titulo .valoracion{
    gap: 0;
}
.review .titulo .nombre .perfil{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.review .titulo .nombre .perfil img{
    height: 100%;
}

.botonesReview{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}


/* ======= CARRUSEL ======= */

.slider-container{
    width: var(--ancho);
    padding: 2em 1em;
    overflow: hidden;
}

.slider-container .slider{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    transition: transform 0.3s ease;
}

.slider-container .slider-item{
    flex: 0 0 calc((100% - 4em) / 3); 
}



/*//////////////////////////////////////////////////
//FORMULARIOS 
//////////////////////////////////////////////////*/
.sectionForm{
    width: 1000px;
    gap: 24px;
}

/* ENTRADA */
form .field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.field input, 
.field .btn,
.field select,
.field textarea{    
    border: none;
    padding: 1em;
    border-radius: var(--radio);
    box-shadow: var(--sombra);
}
form input[type="radio"]{
    width: 1em;
    height: 1em;
}
.volver a{
    font-weight: 600;
}

/* ELEMENTOS EN LINEA */
.field .inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}
.field .question{
    color: var(--disable);
    font-size: 14px;
}

/* CHECKBOX */
.field .checkbox{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.field .checkbox input{
    display: none;
}
.field .checkbox span {
    display: inline-block;
    position: relative;

    height: 20px;
    width: 20px;

    margin-left: 8px;

    background-color: none;
    border-radius: 50%;
    border: 2px solid var(--second);

    cursor: pointer;
}
.field .checkbox span::after {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;

    transform: translate(0.1em, 0.1em);
    background-color: var(--second);
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.2s;
}
.checkbox-custom{
    display: flex;
    align-items: center;
    justify-content: center;

}
.checkbox-custom input:checked ~ span:after{
    opacity: 1;
}

/* INPUT FILE */
.cvContenedor{
    position: relative;
    display: inline-block;
    width: fit-content;

    transition: all 0.3s ease;
}

.cvContenedor input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.cvContenedor .botonCv{
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.cvContenedor:hover{
    transform: scale(1.1);
}



/* SEPARADOR */
.field .separador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 2em 0;
}
.field .separador::before,
.field .separador::after{
    content: "";
    width: 45%;
    height: 2px;
    transform: translateY(0.5em);
    background-color: var(--negro);
}
.field .inline>button{
    width: 49%;
}
.field > p:first-child a {
    padding-left: 8px;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px; 
}
.field > p:first-child a::after{
    width: 0;
}
.field > p:first-child a:hover{
    color: var(--main);
}

/* PROCESO */
.contenedorProceso{
    align-items: baseline;
    margin-top: 1em;
    gap: 1em;
}
.barra-proceso{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.barra-proceso h4{
    font-size: 1em;
    background-color: var(--blanco);
    color: var(--second);
    border: 2px solid var(--second);
    padding: 1em 1.5em;
    border-radius: 50%;
}
.barra-proceso span{
    content: "";
    border: 2px dashed var(--second);
    width: 20%;
    height: 2px;
    margin: 1em;
}
.barra-proceso button{
    background-color: red;
    border: none;
}
.barra-proceso .done,
.barra-proceso .actual{
    background-color: var(--second);
    color: var(--blanco);
}
.barra-proceso .done::before{
    content: "✔";
    position: absolute;
    left: 1.25em;
    color: var(--blanco);
}
.barra-proceso .done{
    content: none;
    position: relative;
    color: transparent;
}
h4.done + span{
    border: 2px solid var(--second);
} 
h4.done ~ h4:first-of-type{
    background-color: var(--second);
    color: var(--blanco);
}

/* MOSTRAR CONTRASEÑA */
.field{
    position: relative;
    width: fit-content;
}
.field #password ~ i,
.field #passwordOld ~ i {
    position: absolute;
    right: 1em;
    top: 3.2em;
    font-size: 1em;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
.field #password ~ i:hover {
    color: #0184DC;
}
.field input[type="password"] ~ i:nth-of-type(2){
    display: none;
}
.field input[type="text"] ~ i:nth-of-type(1){
    display: none;
}
.field input[type="text"] ~ i:nth-of-type(2){
    display: block;
}


.field #passwordOld ~ .fa-xmark{
    display: none;
    color: var(--error);
}


/* CAMPOS ADICIONALES */
.field .campo-adicional{
    display: none;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-left: 2px solid var(--disable);
}

/* MENSAJE ERROR */
.error{
    display: none;
    color: var(--error);
}

/* FORMLARIO SUBMAIN */
.formSubmain{
    align-items: baseline;
}

.formSubmain form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.formSubmain form .inline{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2em;
}


/*//////////////////////////////////////////////////
//CALENDARIO 
//////////////////////////////////////////////////*/
.calendar {
    font-family: var(--textos);
    background: var(--blanco);
    text-align: center;
    width: 550px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-header button{
    background-color: var(--blanco);
    border: none;
    transition: all ease-in-out 0.2s;
}
.calendar-header button:hover{
    color: var(--main);
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}
.day, .weekday {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.weekday {
    font-weight: bold;
}
.day {
    cursor: pointer;
    color: var(--blanco);
    background: var(--main);
    transition: all 0.2s;
}
.day:hover{
    color: var(--blanco);
    background: var(--second);
}
.day.selected {
    background: var(--second);
    color: var(--blanco);
}

.datosDias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.datosDias h4{
    font-size: 2em;
}

/* CALENDARIO CON ACTIVIDADES */
.sinActividad{
    background-color: var(--blanco);
    color: var(--negro);
}


/* CALENDARIO GRANDE */
.calendarioGrande h5{
    margin-bottom: 1em;
}
.calendarioGrande .calendar{
    width: 100%;
}
.calendarioGrande .evento{
    padding-top: 1em;
    color: var(--blanco);

    transition: transform 0.3s;
}

.calendarioGrande .day:has(.eventos){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.calendarioGrande .day:not(:has(> .eventos)){
    background-color: var(--blanco);
    color: var(--negro);
    padding: 2em;
}

.calendarioGrande .day:not(:has(> .eventos)):hover{
    background-color: var(--second);
    color: var(--blanco);
}



/*//////////////////////////////////////////////////
//TARIFA
//////////////////////////////////////////////////*/
.columnas-contenedor .tarifa{
    padding: 1.5em;
    justify-content: space-between;
    transition: all 0.4s ease;
}
.tarifa .precio{
    text-align: center;
}

.tarifa .imagen{
    margin: 0 auto;
}

.tarifa .imagen img{
    width: 120px;
    height: auto;
}
.tarifa li{
    margin-bottom: 1em;
}
.tarifa:hover{
    color: var(--blanco);
    background-color: var(--second);
}
.tarifa:hover * {
    color: inherit;
}

.tarifa.middle,
.tarifa.middle *{
    color: var(--blanco);
    background-color: var(--second);
}


/*//////////////////////////////////////////////////
//RESUMEN
//////////////////////////////////////////////////*/
.resumen{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 2em;
}
.resumen .imagen{
    width: auto;
    height: 120px;
}
.resumen .imagen img{
    width: 100%;
    height: 100%;
}
.resumen .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.resumen .precio,
.resumen .detalles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}
.resumen .precio sub{
    margin-left: 1em;
    padding-top: 1.5em;
    font-size: 0.8em;
}
.resumen .detalles span:nth-of-type(2){
    margin: 0 4px;
}

.metodoPago{
    transition: all 0.2s;
}
.metodoPago:hover{
    color: var(--blanco);
    background-color: var(--second);
}
.metodoPago.seleccionada {
    color: var(--blanco);
    background-color: var(--second);
}
.metodoPago label {
    color: inherit;
}

/* ======= EDITAR PLAN ======= */
.editarPlan{
    width: 100%;
    flex-direction: column;
}

.editarPlan .contenidoPrincipal{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.editarPlan .nombre{
    flex: 1;
    flex-wrap: wrap;
}

.editarPlan .infoPlan,
.editarPlan .botones{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.editarPlan .infoPlan .imagen img{
    width: 100%;
}

.editarPlan .infoPlan .info{
    flex: 1;
}




/*//////////////////////////////////////////////////
//MONITORES
//////////////////////////////////////////////////*/
.tarjeta.t4.monitoresCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    text-align: center;
    flex: 0 0 calc(25% - 2em * 3 / 4);


    transition: all 0.3s ease;
}

.monitoresCard .imagen{
    width: 100%;
    height: 260px;
}
.monitoresCard .imagen img{
    height: 100%;
}

.monitoresCard:hover{
    transform: scale(1.05) rotate(3deg);
}

.monitoresCard .links a:hover{
    color: var(--main);
}
.monitoresCard .links a::after{
    width: 0;
}




.curriculum{
    cursor: pointer;
}
.curriculum:hover{
    color: var(--main);
}


.solicitudesMonitor{
    justify-content: center;
}

.solicitudesMonitor .tarjeta{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.solicitudesMonitor .tarjeta .detalles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.fa-user-plus:hover{
    color: var(--main);
}
.fa-user-minus:hover{
    color: var(--error);
}






/*//////////////////////////////////////////////////
//ADMIN
//////////////////////////////////////////////////*/

#bgForm{
    width: 100%;
    height: 100vh; 
    padding-top: 0; 
    background-image: url(../../../resources/bg/bg01.svg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#bgIndex{
    height: 80vh; 
}

.formularioAdmin{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px); 
}

.formularioAdmin .sectionForm{
    padding: 4em;
    width: 40vw;
    gap: 2.5em;
}
.formularioAdmin #closeBtn{
    width: 100%;
    display: inline-block;
    text-align: right;
}
.formularioAdmin #closeBtn::after{
    width: 0;
}
.formularioAdmin #closeBtn i{
    transition: all 0.3s;
}
.formularioAdmin #closeBtn i:hover{
    transform: scale(1.2);
}
.formularioAdmin .sectionForm h3{
    text-align: center;
}
.formularioAdmin .sectionForm input{
    background-color: transparent;
}


.adminIndex .icono i{
    font-size: 2em;
}
.adminIndex .columna{
    justify-content: space-between;
}

.detallesAdmin{
    align-items: baseline;
}

.detallesAdmin h3{
    margin-bottom: 0.5em;
}

.myAcount{
    width: 100%;
    align-items: baseline;
}



.detallesAdmin .contenedor-tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.detallesAdmin .field{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.detallesAdmin .add-button{
    transition: all 0.3s ease;
}
.detallesAdmin .add-button:hover{
    color: var(--main);
    transform: scale(1.2) rotate(90deg);
}


.contenedor-tarjetas .tarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
}


.contenedor-tarjetas .tarjeta .icons{
    display: flex;
    flex-direction: row;
}

.contenedor-tarjetas .tarjeta span{
    height: auto;
    width: auto;
}

.contenedor-tarjetas .fa-solid{
    transition: all 0.3s;
}
.contenedor-tarjetas .fa-pen-to-square:hover{
    color: var(--main);
    transform: scale(1.2);
}
.contenedor-tarjetas .fa-trash:hover{
    color: var(--error);
    transform: scale(1.2);
}


/* PROGRAMACIÓN */


.formProgramacion{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.programacion input,
.programacion select{
    padding: 1em;
    border-radius: var(--radio);
    border: none;
    box-shadow: var(--sombra);
}

.programacion .campo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.moreInfo{
    gap: 2em;
}


.programacion .calendar h5{
    text-align: left;
    margin-bottom: 3em;
}



/* VERTICAL */
.container{
    width: 100%;
}
.columns .contenedor-tarjetas{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.columns .tarjeta{
    width: 100%;
}

.columns .tarjeta{
    justify-content: space-between;
}

.columns .tarjeta .info{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.contenedor-tarjetas .fa-play {
    transition: transform 0.3s ease;
}



/*//////////////////////////////////////////////////
//FOOTER
//////////////////////////////////////////////////*/
#footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second);
}
#footer-main *{
    color: var(--blanco);
}

#footer-main .separador{
    width: var(--ancho);
    border: 1px solid var(--blanco);
}

#footer-main .contenedorPadre{
    width: var(--ancho);
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
#footer-main .caja{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    flex: 1;
}


#footer-main .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#footer-main .contenedorPadre .enlaces{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
#footer-main .contenedorPadre .descripcion{
    text-align: center;
}

#footer-main .contenedorPadre img{
    width: 30%;
    height: auto;
}

#footer-main .iconosSociales a{
    font-size: 1.5em;
    color: var(--blanco);
    transition: all 0.3s;
}

#footer-main .iconosSociales a:hover{
    font-size: 2.5em;
}


#footer-main .iconosSociales a::after{
    width: 0;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////
//RESPONSIVE MÓVIL
/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1024px) {

    /* HEADER */
    header{
        height: 80px;
    }
    header .navbar{
        max-width: 85vw;
        width: 100%;
    }
    .navbar .content{
        position: absolute;
        top: 0;
        right: -500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 75vw;
        width: 100%;
        height: 100vh;
        padding: 4em;
        box-shadow: var(--sombra);
        background-color: var(--blanco);
        transition: right 0.2s ease-in-out;
    }
    .navbar .content .links, .actions{
        flex-direction: column;

    }
    span i{
        font-size: 1em;
        color: var(--negro);
    }
    .open-menu, .close-menu {
        z-index: 100;
        display: block;
    }
    .close-menu{
        display: none;
    }
    .actions{
        width: 100%;
    }

}




